@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-family: "lato";
    box-sizing: border-box;
}

div,
span,
p,
body,
li,
ul,
ol,
nav,
footer,
header,
header,
h1,
h2,
h3,
h4,
h5,
h6,
main {
    box-sizing: inherit;
    font: inherit;
    padding: 0;
    margin: 0
}

h6 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.8rem;
}

h2 {
    font-size: 2.4rem;
}

h1 {
    font-size: 3.0em;
}

div.main {
    max-width: 72rem;
    margin: 0 auto;
    min-width: 30rem;
}
div.content{
    display:flex;
}

div.photo {
    max-width: 45%;
    display: inline-block;
}

div.info {
    max-width: 50%;
    display: inline-block;
}

div.photo>img {
    max-width: 90%;
    height: auto;
    border-radius: 2em;
}
div.photo>img:hover{   
     box-shadow: -1px 1px 21px 17px rgba(48,189,166,0.45);
     border-radius: 5em;
}

div.header>h2 {
    text-align: center;
}

div.header>h2 {
    font-size: 1.8rem;
    font-weight: 300;
    font-family: SANS-SERIF;
}

div.header {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

div.header>img {
    width: 10rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

div.info {
    padding-right: 1.2rem;
}

div.info>h5 {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.info>p {
    margin-top: 1em;
    margin-bottom: 2em;
}

div.info>ul,
div.info>p 
{
    color: rgb(108, 114, 130);
}

div.info>ul>li {
    list-style: none;
    margin: 1rem 0;
    display: flex;
}

/* div.info>ul>li>*{
    display:inline-block;
} */
div.info>ul>li span{
    display:block;
    font-weight: 700;
}
div.info>ul>li>img{
    width:4em;
    height: auto;
    margin-right:1em;
}

.fa-facebook-square:hover{
    color:green!important;
font-size:2em;
}



