:root{
    /* --orange-main-color:rgb(249, 55, 0); */
    --orange-main-color:MAGENTA;
    --my-cursor-style: url(../Media/my-cursor.png) 10 10, crosshair;
}




main {
    max-width: 60em;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(240, 228, 228);
}

nav.header {
    background-color: var(--orange-main-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;

}

nav.header>ul,footer ul {
    display: flex;
    list-style-type: none;
}

nav.header>ul>li {
    margin-right: 1em;
}

nav.header a {
    text-decoration: none;
    color: white;
}

i.fa-user {
    font-size: 0.7em;
    margin-right: 0.3em;
}

div.search-bar {
    display: flex;
    height: 1.6em;
}

div.search-bar>input {
    min-width: 16rem;
    border: none;
    padding: 0.5rem;
}

button.srch-btn {
    border: none;
    background-color: rgb(182, 175, 175);
    color: white;
    font-size: 0.8em;
    width: 2.6em;
}

div.page {
    padding: 2em 4em;
}

section.pics {
    display: flex;

    justify-content: space-between;
}

section.pics>div {
    max-width: 23%;
}

section.pics>div>img {
    display: block;
    width: 100%;
    height: 100%;
}
section.pics>div>img:hover{
    cursor: var(--my-cursor-style);
}

section.pics>div>p {
    color: rgb(125, 125, 125);
    text-align: center;
    margin-top: .5em;
}

section.content {
    display: flex;
    justify-content: space-between;
    margin-top: 3.6em;
    margin-bottom: 1.8em;
}

#interact {
    padding-top: 3em;
}

#interact>h3 {
    color:  var(--orange-main-color);
}

#interact>p {
    color: rgb(125, 125, 125);
    margin-bottom: 1em;
}

#interact>button {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: none;
    color: white;
    background-color:  var(--orange-main-color);
}

section.content>div:last-child {
    max-width: 65%;
}

section.content>div:last-child>img {
    display: block;
    width: 100%;
    height: auto;
}

section.contacts {
    height:10em;
    display: flex;
    justify-content: space-evenly;
    padding-top:1em;
    padding-bottom:2em;
    background-color: rgb(195, 195, 195);
    margin-bottom:1em;
}

footer{
    display:flex;
    justify-content:space-between;
}

section.contacts>div {
    max-width: 30%;
    flex-direction: column;
    align-content: center;
}

div.rimg {
    width: 6em;
    height:6em;
    border-radius: 50%;
    background-color: rgb(240, 228, 228);
    margin:1em auto;
    display: flex;    
    align-items: center;
    justify-content: center;
}

div.rimg>img {
    width: 70%;
    height: 70%;
}

section.contacts>div>h5{
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
    color:rgb(70,70,70);
}
section.contacts>div>p{
    font-size:0.8em;
color: rgb(125, 125, 125);
text-align: center;
}

footer>ul>li{
    margin-right:1em;
    color:rgb(70,70,70);
}

ul.icons>li{
    font-size:1.2rem;
    margin-right:.5rem;
}

.f075{
    font-size:0.75rem;
}

.f050{
    font-size:0.5rem;
}

footer>ul>li>button{
    background-color: rgb(195, 195, 195);
    color: rgb(70,70,70);
    border-radius: 0.3em;
    padding: 0.3em 2em;
    border: none;
}

footer>ul>li>button:hover{
    cursor: var(--my-cursor-style);
}

.pt-025{
    padding:0.3rem;
}
