@import url("./reseter.css");
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,200;0,400;1,400;1,700&display=swap');

html{
    /* font: 16px/1.4 ”PT Sans”, Arial, Helvetica, sans-serif; */
    font-size:16px;
    line-height: 1.4;
    font-family:”PT Sans”, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.spl-font{
    font-family: 'Playpen Sans', cursive;
}

.bg-font{
    font-family: 'Alumni Sans', sans-serif;
}

.w-100{
    font-weight: 100;
}
.w-500{
    font-weight: 500;
}

